.hero {
  background-color: #d6f0fa;
  width: 100%;
  height: 100vh;
}

.hero-banner {
  /* max-width: 1200px; */
  background-image: url("https://assets.nintendo.com/image/upload/c_pad,f_auto,h_613,q_auto,w_1089/ncom/en_US/games/switch/s/stardew-valley-switch/hero?v=2021091620");
  background-position: center;
  background-repeat: no-repeat;
}
