main {
  background-color: aqua;
  padding: 50px;
}

.upper-console {
  background-color: pink;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.product-above {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 400px;
  background-color: rgb(10, 92, 92);
}
