@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.bg-hero {
  background-image: url("./img/hero.jpg");
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  padding: 15px 20px;
}

/* header */
header {
  max-width: 100%;
  height: 60px;
  background-color: #1a2456 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fdd5c7;
  padding: 0 10px;
}

.header-logo:hover {
  color: #ecac96;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  padding: 0 15px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
}

.nav-link:hover {
  color: #ecac96;
}

.bag-icon {
  height: 28px;
  padding-left: 5px;
  cursor: pointer;
}

/* media queries */

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
}

/* banner */
.banner {
  background-image: url("./img/banner.jpg");
  background-position: center;
  width: 100vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.banner > img {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 30px;
  text-align: center;
}
.banner-text h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #1a2456;
}

.banner-text p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  color: #1a2456;
}
