.testimonals-section {
  max-width: 1440px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonals-section div > h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.3rem;
  color: #242d52;
}

.testimonals {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.testimonal {
  padding: 6px;
  margin: 0 20px;
  background-color: rgb(242, 248, 245);
}

.testimonal > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonal > h3 {
  color: #242d52;
  font-size: 1.4rem;
  padding: 10px;
}

.testimonal > p {
  color: #585772;
  padding: 15px;
  font-size: 14px;
}

.testimonal-btn {
  margin-top: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f25f3a;
  color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
}
