.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 60px; */
  border-bottom: 1px solid lightgray;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex: 0.5;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e60012;
  /* width: 150px; */
  height: 100%;
}

.logo > h4 {
  margin: 8px 14px;
  color: white;
  padding: 7px;
  border: 2px solid white;
  border-radius: 20px;
}

.searchbar {
  margin-left: 30px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 8px;
}

.searchIcon {
  margin-right: 5px;
}

.searchIcon {
  color: #534848;
}

.searchInput {
  border: none;
  outline-width: 0;
  background: none;
  flex: 1;
}

.header-right {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.nav-link > p,
.fas {
  color: #534848;
  margin-left: 10px;
}

.nav-link:hover > p {
  color: #e60012;
}

.nav-link:hover > .icon {
  color: #e60012;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
